
<!-- <div class="container"> -->
  <div class="row col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div id="div-APlogo" class="div-APlogo col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <img id="APlogo" class="APlogo col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" src="../../../assets/img/logos/APLogo.png" alt="Logo Argentina Programa">
    </div>
    <div class="social col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">

      <a id="link-linkedin" class="link-linkedin" href="https://www.linkedin.com/in/matias-ignacio-ruiz-b04a81225/" target="_blank">
        <i class="bi bi-linkedin"></i>        </a>
      <a id="link-github" class="link-github" href="https://github.com/MR-DW?tab=repositories" target="_blank">
          <i class="bi bi-github"></i>        </a>
      <a id="a-footer-mail" class="a-footer" href="mailto:matiasignacioruiz@gmail.com" target="_blank">
          <i class="bi bi-envelope-paper"></i>        </a>

      </div>
  </div>







