#skills{
    height:100vh;
    background-color: #ffffff;
    padding:7% 3% 0;
}

#titulo-aside-h4{
    margin:2% auto;
    color:black;
}

#row h3{
  width: 80%;
}
#row button{
  width: 20%;
}

#row2{
  padding: 2% 0;
}

.contenedor{
  display: flex;
  flex-direction: row;
  width: 24%;
  align-items: center;
  outline: 1px solid black;
  border-radius: 40%;
  padding: .5%;
  margin: .5%;
  background-color: #000000;
  color: #ffffff;
}

#span1{
  width: 50%;
  z-index:9999;
}
#span2{
  width: 50%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#span2 p{
  margin: 5% auto;
}

.botonera{
  display: flex;
  flex-direction: row;

}

.botonera .ml-1{
  margin-right: 5%;
}

.botonera button{
  border-radius: 50%;
}


@media (max-width: 768px) {
  #skills{
    height:85vh;
  }

  #titulo-aside-h4{
    margin: 20% auto 3%;
  }

#row h3{
  width: 75%;
}

#row button{
  width: 25%;
}

  #row2{
  flex-direction: row;
  flex-wrap: wrap;
  }

  .contenedor{
    display: flex;
    flex-direction: row-reverse;
    width: 45%;
    padding: 1%;
    margin: .5% auto;
    border-radius: 45%;
  }

  .botonera .ml-1{
    margin-right: 0;
  }
}
