
<div class="container" *ngIf="expLab" >
  <!-- *ngIf="!expLab" -->
  <!-- -->
  <div class="row">
    <div>
      <h2>Edite Su Experiencia Laboral</h2>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >

        <div class="form-group">
          <label for="nombreExp">Nombre de la Empresa</label>
          <input placeholder="Empresa" type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLab.nombreExp" required />

        </div>
        <div class="form-group">
          <label for="descripcionExp">Nueva Descripción de su trabajo</label>
          <input placeholder="Desarrollador..." type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLab.descripcionExp" required />

        </div>
        <button class="btn btn-dark" type="submit">Actualizar</button>
        <button class="btn btn-dark" type="button" (click)="retorno()">Volver</button>

      </form>
    </div>
  </div>
</div>
