


<div id="div-sobre-mi" class="sobre-mi-porta container">
  <div class="row">

    <div class="img-sobre-mi-container col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 id="titulo-portafolio" class="titulo-porta">
          ¡Saludos! Soy <br> {{ persona.nombre }} {{ persona.apellido }}
           <!-- {{miPorfolio.fullname}} {{miPorfolio.segundonombre}} {{miPorfolio.apellido}} -->
        </h2>
        <!-- <img src={{persona.img}} id="img-sobre-mi"> -->
    </div>

    <p id="text-porta" class="text-porta col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      {{ persona.descripcion }}
    </p>

  </div>

  <button class="btn btn-dark" routerLink="/editarsobremi/{{persona.id}}" >
    <!-- *ngIf="isLogged" -->
    <i class="bi bi-pencil-square"></i>
  </button>

</div>

