


<div id="div-sobre-mi" class="sobre-mi-porta container">
  <div class="row">

    <div class="img-sobre-mi-container col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 id="titulo-portafolio" class="titulo-porta">
          ¡Saludos! Soy <br> {{ persona.nombre }} {{ persona.apellido }}
           <!-- {{miPorfolio.fullname}} {{miPorfolio.segundonombre}} {{miPorfolio.apellido}} -->
        </h2>
        <img src="https://media.licdn.com/dms/image/C4D03AQENdqiAw7DnDg/profile-displayphoto-shrink_800_800/0/1656328960638?e=1689811200&v=beta&t=q9t-qhtF1ZTSQMZbaBvUVbYrCzD61gbMrdI9oAoUqmA"
        id="img-sobre-mi" alt="Foto De Perfil">
    </div>

    <p id="text-porta" class="text-porta col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      {{ persona.descripcion }}
    </p>

  </div>

  <button class="btn btn-dark" routerLink="/editarsobremi/{{persona.id}}" >
    <!-- *ngIf="isLogged" -->
    <i class="bi bi-pencil-square"></i>
  </button>

</div>

