
#div-sobre-mi{
  height:100vh;
  padding:7% 5%;
  z-index:-1;
}

.row{
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin:auto 0;
  height:100%;
  justify-content: flex-start;
}

#titulo-portafolio{
color: black;
margin: 0 auto;
}

#text-porta{
text-align:center;
}

.img-sobre-mi-container{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0 auto;
margin: 0 auto;
height:50%;
}

#img-sobre-mi{
margin: 0 auto;
width: 60%;
box-sizing: content-box;
border: .5em solid black;
border-radius: 50%;
}


@media (max-width: 768px) {

#div-sobre-mi{
	height:85vh;
    padding:7% 5%;
    z-index:-1;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  height: 90%;

}

#titulo-portafolio{
  color: black;
  margin: 0 auto;
}

#text-porta{
	text-align:center;
}

.img-sobre-mi-container{
  padding: 0 auto;
  margin: 0 auto;
}

#img-sobre-mi{
  margin: 0 auto;
  width: 50%;
	box-sizing: content-box;
	border: .5em solid black;
	border-radius: 50%;
	}
}
